<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="car_with_ur10" >

  <!-- ur10 -->
  <xacro:include filename="$(find car_with_ur10_description)/urdf/ur10_joint_limited_robot.urdf.xacro" />


  <!-- car -->
  <xacro:include filename="$(find car_description)/urdf/car.xacro"/>


  <joint name="car_ur10_joint" type="fixed">
    <parent link="car_link" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
