<?xml version="1.0"?>
<launch>

    <!-- Kinect -->
    <include file="$(find freenect_launch)/launch/freenect.launch">
     <arg name="publish_tf"  default="true"/>
    </include>
    
    <!-- broadcast camera_to_base transfrom-->
    <node name="tf_broadcaster" pkg="ur10_setup_tf" type="tf_broadcaster" />

</launch>
