<?xml version="1.0"?>
<!-- note: controllers.yaml in moveit_config has to be setup for specific controller -->
<!--runs the real robot setup on the local machine-->
<launch>
  <arg name="robot_ip" default="219.223.238.239"/>
  <arg name="limited" default="true"/>

  <include file="$(find ur_modern_driver)/launch/ur10_bringup.launch">
   <arg name="limited" value="$(arg limited)"/>
   <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <include file="$(find ur10_gripper_bringup)/launch/ros_control.launch">
  </include>

  <!-- MoveIt! Setup with RViz-->
  <include file="$(find ur10_gripper_moveit_config)/launch/ur10_gripper_moveit_plan_execution.launch"/>


</launch>


