<?xml version="1.0"?>

<launch>
  <arg name="robot_ip" default="219.223.238.79"/>
  <arg name="limited" default="true"/>

  <include file="$(find ur_modern_driver)/launch/ur10_bringup.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <include file="$(find ur10_gripper_moveit_config)/launch/ur10_gripper_moveit_plan_execution.launch"/>




</launch>
